body{
    background-color: #ffeffe;
}

button{
  
  transition-duration: 0.2s;
  height: 200px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

h1{
  text-align: center;
}


.thing{
  background-color: rgb(172, 147, 255);
  height: 50px;
  width: 100px;
  justify-content: center;
  align-items: center;
  
}

.thing:hover{
  background-color: rgb(106, 72, 218);
}

#giveUp{
  display: none;
}

#boton0{
  background-color: rgb(255, 70, 70);
  border-top-left-radius: 100%;

  
}

#boton0:hover{
  background-color: rgb(241, 29, 29);  
}

#boton0:active {
  background-color: rgb(233, 7, 7);  
  box-shadow: 0 5px #353535;
  transform: translateY(4px);
}

#boton1{
  background-color: rgb(99, 206, 255);
  border-top-right-radius: 100%;

}

#boton1:hover{
  background-color: rgb(48, 180, 241);

}

#boton1:active {
  background-color: rgb(48, 93, 241);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#boton2{
  background-color: rgb(59, 255, 131);
  border-bottom-left-radius: 100%;

}

#boton2:hover{
  background-color: rgb(18, 255, 105);

}

#boton2:active {
  background-color: rgb(16, 182, 57);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#boton3{
  background-color: rgb(247, 255, 100);

  border-bottom-right-radius: 100%;

}

#boton3:hover{
  background-color: rgb(232, 241, 61);


}

#boton3:active {
  background-color: rgb(255, 205, 25);

  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#box1{
  display: none;
  flex-direction: row
}

#box2{
  display: none;
  flex-direction: row
}

#container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;   
}
#container1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;   
  gap:5%
}

#container2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;   
  margin-top: 5%;
}

#boton1.chosen{
  filter: drop-shadow(30px -10px 10px #6854ff);
}

#boton2.chosen{
  filter: drop-shadow(-30px 10px 10px #1ebc1e);
}

#boton3.chosen{
  filter: drop-shadow(30px 10px 10px #edc71f);
}

#boton0.chosen{
  filter: drop-shadow(-30px -10px 10px #ff2525);
}

.textbox {
  width: 110px;
  height: 32px;
  padding: 10px 5px 10px 10px;
  border: 5px solid rgb(88, 141, 86);
  margin: 0;
}

.textbox2 {
  width: 300px;
  height: 32px;
  padding: 10px 5px 10px 10px;
  border: 5px solid rgb(88, 141, 86);
  margin: 0;
}

#score{
  display: none;
}

#gameO{
  display: none;

}
